<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>My Name is {{name}}</h1>
            <p>My Age is {{age}}</p>
            <p>
                I am from <span [innerText]="native"></span>
            </p>
        </div>
        <div class="row">
            <app-danger></app-danger>
            <app-success></app-success>
            <button class="btn btn-success" (click)="ChangeName()">button</button>
        </div>
        <br>
        <input type="text" (input)="nameChange($event)">
        <p>{{name}}</p>

    </div>
</div>